.env
node_modules
lib/database/SQLite.db
lib/database/backup/SQLite.db
# Ignore all files in the img folder

lib/img/movie_poster/404.png
lib/img/movie_poster/bigPoster0.jpg
lib/img/movie_poster/bigPoster1.jpg
lib/img/movie_poster/bigPoster2.jpg
lib/img/api/taifeng/taifeng.png
!initial_file/.env

lib/video/tiktok_api/*.mp4
lib/video/douyin_api/*.mp4
lib/video/facebook/*.mp4
lib/video/*.mp4



data.json